<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>活动</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: Georgia, '微软雅黑', Times, serif;
        }

        /* a:link{
            padding:1%;
            font-size:wes large;
            background-color: rgb(230, 189, 175);
            border-radius: 2%;
            text-decoration: none;
            color: black;
        }
        a:hover{
            background-color: rgb(236, 220, 215);
        }
        a:active{
            background-color: rgb(238, 238, 238);
        } */
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                  <a class="navbar-brand" style="color: #2c6eb5;">校友会平台</a>
                </div>
        
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav active">
                    <li class="nav-link">
                      <a href="/index/">主站</a>
                    </li>
                    <li class="nav-link">
                      <a href="/tieLists/stars/">已关注的帖子</a>
                    </li>
                    <li class="nav-link">
                      <a href="/activities/">活动</a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">地域社区</a>
                      <!-- -------------------------------------------------------------------------------------------------------------- -->
                      <ul class="dropdown-menu">
                        <li><a href="/tieLists/province/{{user.prov_id}}">我的地区</a></li>
                        <li class="divider"></li>
                        {% for prov in province%}
                        <li><a href="/tieLists/province/{{prov.id}}">{{prov.name}}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
        
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">行业社区</a>
                      <ul class="dropdown-menu">
                        <li><a href="/tieLists/industry/{{user.industry_id}}">我的行业</a></li>
                        <li class="divider"></li>
                        {%for item in industry%}
                        <li><a href="/tieLists/industry/{{item.id}}">{{item.name}}</a></li>
                        {%endfor%}
                        <!-- <li class="divider"></li>
                                        <li><a href="#">One more separated link</a></li> -->
                      </ul>
                    </li>
                  </ul>
        
                  <ul class="nav navbar-nav navbar-right">
                    <li class="nav-link">
                      <a href="/postTie/" style="background: #3380d3; color: white">发帖</a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username}}<strong class="caret"></strong></a>
                      <ul class="dropdown-menu">
                        <li><a href="/changemessage/">个人信息设置</a></li>
                        <li><a href="/messageBoard/">我的留言板</a></li>
                        <!-- <li><a href="#">Something else here</a> -->
                    </li>
                    <li class="divider"></li>
                    <li><a href="/logout">Log out</a></li>
                  </ul>
                  </li>
                  </ul>
                </div>
              </nav>
        </div>
        <br><br><br><br>
        <div class="row">
            <div class="col-lg-5">
                <div class="col-lg-12>">
                    <ul class="breadcrumb">
                        <li>
                            <p style="text-align: center;">正在开放的活动</p>
                        </li>
                    </ul>
                    <!--循环体引入活动数据-->
                    {% for activity in activityList_undone%}
                    <div name="a1" style="box-shadow:  inset 0 0 5px #CCC;height:auto">
                        {% for item in activity%}
                            {% if forloop.counter < 3 %}
                                <div class="col-lg-3">
                                    <p>{{ item }}</p>
                                </div>
                            {% else %}
                                <div class="col-lg-6">
                                    <p>截至: {{ item }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <ul class="pagination" style="float: right;">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div class="col-lg-12>">
                    <ul class="breadcrumb">
                        <li>
                            <p style="text-align: center;">已过期的活动</p>
                        </li>
                    </ul>
                    <!--循环体引入数据-->
                    {% for activity in activityList_done%}
                    <div name="a1" style="box-shadow:  inset 0 0 5px #CCC;height:auto">
                        {% for item in activity%}
                            {% if forloop.counter < 3 %}
                                <div class="col-lg-3">
                                    <p>{{ item }}</p>
                                </div>
                            {% else %}
                                <div class="col-lg-6">
                                    <p>截至: {{ item }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <ul class="pagination" style="float: right;">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
</body>
</htmml>