<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>帖子列表</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
  @media (min-width: 48em) {
    html {
      font-size: 18px;
    }
  }

  body {
    font-family: Georgia, '微软雅黑', Times, serif;
  }

  /*
 * Footer
 */

  .blog-footer {
    padding: 1rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 0.05rem solid #e5e5e5;
  }

  .blog-footer p:last-child {
    margin-bottom: 0;
  }
</style>

<body>
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" style="color: #2c6eb5;">校友会平台</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav active">
            <li class="nav-link">
              <a href="/index/">主站</a>
            </li>
            <li class="nav-link">
              <a href="/tieLists/stars/">已关注的帖子</a>
            </li>
            <li class="nav-link">
              <a href="/activities/">活动</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">地域社区</a>
              <!-- -------------------------------------------------------------------------------------------------------------- -->
              <ul class="dropdown-menu">
                <li><a href="/tieLists/province/{{user.prov_id}}">我的地区</a></li>
                <li class="divider"></li>
                {% for prov in province%}
                <li><a href="/tieLists/province/{{prov.id}}">{{prov.name}}</a></li>
                {% endfor %}
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">行业社区</a>
              <ul class="dropdown-menu">
                <li><a href="/tieLists/industry/{{user.industry_id}}">我的行业</a></li>
                <li class="divider"></li>
                {%for item in industry%}
                <li><a href="/tieLists/industry/{{item.id}}">{{item.name}}</a></li>
                {%endfor%}
                <!-- <li class="divider"></li>
								<li><a href="#">One more separated link</a></li> -->
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="nav-link">
              <a href="/postTie/" style="background: #3380d3; color: white">发帖</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username}}<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li><a href="/changemessage/">个人信息设置</a></li>
                <li><a href="/messageBoard/">我的留言板</a></li>
                <!-- <li><a href="#">Something else here</a> -->
            </li>
            <li class="divider"></li>
            <li><a href="/logout">Log out</a></li>
          </ul>
          </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="row" style="padding-top: 4rem;">
      <div class="col-md-10 col-md-offset-1">
        <div class="card-group">
          <div class="card">
            <div class="card-header">
              <h2>帖子社区--{{name}}</h2>
            </div>
            {% for hot in HotList %}
            <div class="card-body">

              <a href="/tie/{{hot.id}}" class="card-link">
                <h3>{{hot.title}}</h3>
              </a>
              <span>来自：<a href="#">{{hot.author}}</a></span>
              <span style="color:gray">{{ hot.createdTime }}发布</span>
              <span class="badge badge-primary">点击量: {{ hot.access }}</span>
              <hr>

            </div>

            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <footer class="blog-footer">
    <p>校友会平台
      <a href="https://getbootstrap.com/">Bootstrap</a> by
      <a href="#">软工小组</a>.
    </p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer> -->
</body>

</html>