<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帖子列表</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: Georgia, '微软雅黑', Times, serif;
}

/*
 * Footer
 */

.blog-footer {
  padding: 1rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

</style>

<body>
<div class="container">
	<div class="row">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                 <a class="navbar-brand" style="color: #2c6eb5;">校友会平台</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav active">
                    <li class="nav-link">
                         <a href="./home1.html">主站</a>
                    </li>
                    <li class="nav-link">
                         <a href="#">已关注的帖子</a>
                    </li>
                    <li class="nav-link">
                         <a href="#">活动贴</a>
                    </li>
                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">地域社区</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">上海</a></li>
                            <li><a href="#">北京</a></li>
                            <li><a href="#">广州</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">行业社区</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">计算机</a></li>
                            <li><a href="#">金融</a></li>
                            <li><a href="#">法律</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li  class="nav-link">
                         <a href="#" style="background: #3380d3; color: white">发帖</a>
                    </li>
                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a>
                            </li><li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
	</div>

    <div class="row" style="padding-top: 4rem;">
        <div class="col-md-10 col-md-offset-1">
             <div class="card-group">
              <div class="card">
                <div class="card-header"><h2>帖子社区--上海</h2></div>
                {% for hot in HotList %}
                <div class="card-body">

                    <a href="./tie.html" class="card-link"><h3>今天是七月二十号</h3></a>
                    <span>来自：<a href="#">{{hot.username}}</a></span>
                    <span style="color:gray">{{ hot.createdTime }}发布</span>
                    <span class="badge badge-primary">点击量: 1000</span>
                    <hr>

                </div>

                <div class="card-body">
                    <a href="javascript:void(0);" class="card-link"><h3>天气好热啊</h3></a>
                    <span>来自：<a href="#">{{hot.username}}</a></span>
                    <span style="color:gray">{{ hot.createdTime }}发布</span>
                    <span class="badge badge-primary">点击量: 1000</span>
                    <hr>
                </div>

				 <div class="card-body">
                    <a href="./tie.html" class="card-link"><h3>nie sai te zei</h3></a>
                    <span>来自：<a href="#">{{hot.username}}</a></span>
                    <span style="color:gray">{{ hot.createdTime }}发布</span>
                    <span class="badge badge-primary">点击量: 1000</span>
                    <hr>
                 </div>

				  <div class="card-body">
                    <a href="./tie.html" class="card-link"><h3>emmmmmmmm</h3></a>
                    <span>来自：<a href="#">{{hot.username}}</a></span>
                    <span style="color:gray">{{ hot.createdTime }}发布</span>
                    <span class="badge badge-primary">点击量: 1000</span>
                    <hr>
                 </div>

                {% endfor %}
              </div>
            </div>
        </div>
    </div>
</div>

<footer class="blog-footer">
  <p>校友会平台
    <a href="https://getbootstrap.com/">Bootstrap</a> by
    <a href="#">软工小组</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
</body>
</html>